.headerImg {
  justify-self: center;
  max-width: 1350px;
  width: 90%;
  height: 500px;
  background-image: url(../img/BFD_Website_Banner.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin: auto 0;
}

section {
  max-width: 1350px;
  width: 90%;
  background-color: white;
  margin: 20px auto;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/** Text Styles **/

h1 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

p {
  width: 65%;
  align-self: center;
  justify-self: center;
  padding: 10px;
}

.bold {
  font-weight: 700;
}

/** List Styles**/

ul {
  list-style: none;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-self: center;
}

.list .firstList ul li {
  list-style: none;
  text-align: left;
}

.list .secondList ul li {
  list-style: none;
  text-align: left;
  padding-left: 20px;
}

/** Alignment Stuff **/

.content {
  padding-top: 10px;
  margin: 10px 0;
  border-top: 2px solid #d4d4d4;
}

.buttonContainer {
  margin: 35px 0 20px 0;
}

a {
  margin-right: 20px;
}

/* Mobile Responsive */

@media (max-width: 768px) {
  .headerImg {
    display: none;
  }
}
