.player {
  background: #4a7ba7; /* Player color */
  padding: 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  width: 430px;
  display: grid;
  grid-template-columns: auto auto 110px auto auto 80px;
  align-items: center;
  gap: 12px;
}

/* Play Button */
.js-play {
  background: #a7c6e6;
  border: none;
  color: #0f172a;
  font-size: 14px;
  padding: 8px 11px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

#playBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgba(167, 198, 230, 0.9);
}

/* Time text */
.time {
  font-size: 12px;
  min-width: 40px;
  text-align: center;
  color: white; /* Times white */
}

/* Sliders */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, #a7c6e6 0%, #a7c6e6 50%);
}

/* Chrome, Edge, Safari thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #a7c6e6;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(167, 198, 230, 0.9);
}

/* Firefox thumb */
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #a7c6e6;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* Firefox track */
input[type="range"]::-moz-range-track {
  background: rgba(255, 255, 255, 0.3);
  height: 6px;
  border-radius: 10px;
}

/* Speaker */

.iconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: grid;
  place-items: center;
  color: #a7c6e6; /* icon color */
  font-size: 22px;
  line-height: 1;
}
